<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Crypto Exhibit is an open-source interactive online cryptography learning exhibit, providing an easy introduction into cryptography, by making the most common cryptographic algorithms accessible and comparable.">
		<meta name="author" content="Mannheim University of Applied Sciences, Kristian Kraljic">

		<title>Crypto Exhibit - An interactive cryptography learning exhibit</title>

		<!-- Bootstrap and Tether -->
		<link href="ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="ext/tether/css/tether.min.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="ext/font-awesome/css/fa-solid.min.css" rel="stylesheet" type="text/css">
		<link href="ext/font-awesome/css/fa-regular.min.css" rel="stylesheet" type="text/css">
		<link href="ext/font-awesome/css/fontawesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

		<!-- Stylesheet -->
		<link href="css/style.min.css" rel="stylesheet">
	</head>

	<body id="page-top">
		<div class="container mb-5">
			<div class="jumbotron mt-3">
				<h1 class="display-3 text-primary"><i class="fas fa-user-secret"></i> Crypto Exhibit</h1>
				<p class="lead">&hellip; is an open-source interactive online cryptography learning exhibit, providing an easy introduction into cryptography, by making the most common cryptographic algorithms accessible and comparable.</p>
				<hr class="my-4">
				<p>Find all sources available on <a href="https://github.com/informatik-mannheim/crypto-exhibit" target="_blank">GitHub</a>. Crypto Exhibit is suitable for all audiences interested in cryptography.</p>
				<p class="lead mb-1">
					<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
				</p>
			</div>
			<div class="row justify-content-between d-none">
				<%- include('steps/step1', { step: 1, tab: 1, text: 'Start by choosing an Algorithm' }) %>
				<%- include('steps/step1', { step: 1, tab: 2, text: '&hellip; and compare it to the following:' }) %>
				<%- include('help', { step: 1 }) %>
			</div>
			<div class="row justify-content-between d-none">
				<%- include('steps/step2', { step: 2, tab: 1 }) %>
				<%- include('steps/step2', { step: 2, tab: 2 }) %>
				<%- include('help', { step: 2 }) %>
			</div>
			<div class="row justify-content-between d-none">
				<%- include('steps/step3', { step: 3, tab: 1 }) %>
				<%- include('steps/step3', { step: 3, tab: 2 }) %>
				<%- include('help', { step: 3 }) %>
			</div>
			<div class="row justify-content-between d-none">
				<%- include('steps/step4', { step: 4, tab: 1 }) %>
				<%- include('steps/step4', { step: 4, tab: 2 }) %>
				<%- include('help', { step: 4 }); %>
			</div>
			<div class="row justify-content-between d-none">
				<%- include('steps/step5', { step: 5, tab: 1 }) %>
				<%- include('steps/step5', { step: 5, tab: 2 }) %>
				<%- include('help', { step: 5 }); %>
			</div>
		</div>
		
		<!-- jQuery, Bootstrap and Tether -->
		<script src="ext/jquery/jquery.min.js"></script>
		<script src="ext/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="ext/tether/js/tether.min.js"></script>

		<!-- Custom JavaScript -->
		<script src="ext/requirejs/require.min.js"></script>
		<script>
			requirejs.config({
				baseUrl: 'js',
				paths: {
					'amd-loader': '../ext/amd-loader', 'cjs': '../ext/cjs',
					'node-forge': '../ext/forge/forge.min'
				}
			});
			requirejs(['cjs!main.min'], function(main) {
				window.cryptoExhibit = main;
			});
		</script>
	</body>
</html>