<div id="step<%= step %>-<%= tab %>" class="form-group col-12 col-sm-6 col-md-7 col-lg-4<% if(tab>1) { %> d-none d-lg-block<% } %>">
    <p class="lead mb-3">Define Cryptographic Parameters</p>

    <%- include('../parameter', { step: step, tab: tab, algorithm: 'aes', name: 'key', label: 'Symmetric Key', type: 'editor(hex)', value: 'randomBytes(16)', placeholder: '' }) %>
    <%- include('../parameter', { step: step, tab: tab, algorithm: 'aes', name: 'iv', label: 'Initialization Vector', type: 'editor(hex)', value: 'randomBytes(16)', placeholder: '' }) %>

    <%- include('../parameter', { step: step, tab: tab, algorithm: 'des', name: 'p', label: 'q', type: 'number', value: 'randomPrime()', placeholder: '' }) %>

    <%- include('../parameter', { step: step, tab: tab, algorithm: 'rsa', name: 'p', label: 'Primefactor P', type: 'number', value: 'randomPrime(32)', placeholder: '' }) %>
    <%- include('../parameter', { step: step, tab: tab, algorithm: 'rsa', name: 'q', label: 'Primefactor Q', type: 'number', value: 'randomPrime(32)', placeholder: '' }) %>
    <%- include('../parameter', { step: step, tab: tab, algorithm: 'rsa', name: 'e', label: 'Exponent E', type: 'number', value: 'rsaRandomE('+tab+')', placeholder: '' }) %>
</div>
<div id="dummy<%= step %>-<%= tab %>" class="d-none d-lg-block col-lg-4"></div>