<div id="step<%= step %>-<%= tab %>" class="form-group col-12 col-sm-6 col-md-7 col-lg-4 mb-4<% if(tab>1) { %> d-none d-lg-block<% } %>">
    <label for="algorithm-<%= tab %>" class="lead"><%- text %></label>
    <select id="algorithm-<%= tab %>" class="custom-select" onchange="stepInput(<%= tab %>, <%= step %>)">
        <option value="" selected>- Click here to choose -</option>
        <option value="aes">AES (Advanced Encryption Standard)</option>
        <option value="ceasar">Caesar Chiffre</option>
        <option value="des">DES (Data Encryption Standard)</option>
        <option value="rsa">RSA (Rivest, Shamir and Adleman)</option>
    </select>
</div>
<div id="dummy<%= step %>-<%= tab %>" class="d-none"></div>